<div class="container-fluid bg-light pt-3 pb-3">
  <!-- Header -->
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="BTC Logo"
      src="../assets/images/Bitcoin.svg"
    />
    <span>Bienvenida familia!</span>
    <div class="spacer"></div>
    <a target="_blank" rel="noopener" href="https://finder.terra.money/mainnet/address/terra1324mjxllcnpjrgpdtkgftf6ppe97p9rtshzd45" title="Billetera" class="wallet">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-wallet-fill" viewBox="0 0 16 16"  style="font-size: 2rem; color: white;">
        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/>
      </svg>
    </a>
  </div>
  
  <!-- Content -->
  <div class="content border border-primary rounded" role="main">
    <!-- Titulo -->
    <div class="card highlight-card card-small mb-3">
      <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
        <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
          <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
          <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
            <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
            <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
          </g>
        </g>
      </svg>
      <span>{{ title }} </span>
    </div>
  
    <h2>Precio BTC</h2>
    <p>{{precioBTC | currency}}</p>
  
    <!-- Tabs -->
    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#inicial" type="button" role="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
            <path d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z"/>
          </svg>
          Compra inicial
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#inversiones" type="button" role="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
            <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
          </svg>
          Inversiones
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#realTime" type="button" role="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
            <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
          </svg>
          Valores en tiempo real
        </button>
      </li>
    </ul>
  
    <!-- tabs content -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="inicial" role="tabpanel">
        <div class="card border-dark text-center mt-3 h-100 w-75 ml-125">
          <img src="../assets/images/cash1.svg" class="card-img-top w-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">Compra inicial</h5>
            <h6 class="card-subtitle mb-2 text-muted">Capital inicial</h6>
            <p class="card-text">{{capInicial | currency:'COP'}}</p>
            <h6 class="card-subtitle mb-2 text-muted">Dolares comprados</h6>
            <p class="card-text">{{usdComprados | currency}}</p>
            <h6 class="card-subtitle mb-2 text-muted">Pecio por dolar</h6>
            <p class="card-text">{{precioPorDolar | currency:'COP'}}</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="inversiones" role="tabpanel">
        <div class="row justify-content-center mt-3">
          <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" value=1 [(ngModel)]="inversionSelected">
              <label class="form-check-label" for="gridRadios1">
                BTC
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value=2 [(ngModel)]="inversionSelected">
              <label class="form-check-label" for="gridRadios1">
                Anchor protocol
              </label>
            </div>
          </div>
        </div>
        <div class="card-group mt-3">
          <div class="card border-dark h-100 text-center" style="width: 25rem;" *ngIf="inversionSelected == 1">
            <img src="../assets/images/Bitcoin.svg" class="card-img-top w-50" alt="...">
            <div class="card-body">
              <h5 class="card-title">BTC</h5>
              <h6 class="card-subtitle mb-2 text-muted">Inversion</h6>
              <p class="card-text">{{inversionBTC | currency}}</p>
              <h6 class="card-subtitle mb-2 text-muted">Precio de compra</h6>
              <p class="card-text">{{precioCompraBtc | currency}}</p>
              <h6 class="card-subtitle mb-2 text-muted">Cantidad</h6>
              <p class="card-text">{{cantidadBTC | currency:'BTC':'symbol':'1.8-8'}}</p>
            </div>
          </div>
          <div class="card h-100 border-dark text-center" style="width: 25rem;" *ngIf="inversionSelected == 2">
            <img src="../assets/images/anchor.png" class="card-img-top w-50" alt="...">
            <div class="card-body">
              <h5 class="card-title">Anchor protocol</h5>
              <h6 class="card-subtitle mb-2 text-muted">Inversion (USD)</h6>
              <p class="card-text">{{inversionAnchor | currency}}</p>
              <h6 class="card-subtitle mb-2 text-muted">UST comprados</h6>
              <p class="card-text">{{UstComprados | currency}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="realTime" role="tabpanel">
        <div class="card border-dark text-center mt-3 h-100" style="width: 25rem;">
          <img src="../assets/images/tether-usdt-logo.svg" class="card-img-top w-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">Valores actuales</h5>
            <h6 class="card-subtitle mb-2 text-muted">BTC</h6>
            <p class="card-text">{{valorActualInversionBtc | currency}}</p>
            <h6 class="card-subtitle mb-2 text-muted">Total actual</h6>
            <p class="card-text">{{totalActual | currency}}</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>



<router-outlet></router-outlet>
